@model DemoAsPMVC.Models.Person


<h1>Bonjour</h1>

<p>Ceci est un test.</p>
<a class="btn btn-outline-success"
    asp-controller="Home" asp-action="Index">Cliquer Ici</a>

<p>@Model.Id</p> 
<p>@Model.Name</p>
<p>@Model.Phone</p>
<p>@Model.Description</p> 