@model List<Movie>
@* @model accueil le seul et unique objet que la vue peut accepter et j'y accède dans la vue grace a model' *@ 
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Actions</th>
        </tr>        
    </thead>
    @foreach (Movie movie in Model)
    {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Title</td>
            <td><a class="btn btn-outline-dark" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">Détails</a></td>
        </tr>
    }
</table>


